{% extends "base.html" %}
{% load thumbnail %}

{% block profile %} 
<div class="profile__container grid">
    <div class="profile__data">
        <div class="profile__border">
            <div class="profile__perfil">
                <img src="{% thumbnail about.image 400x640 quality=100 %}" alt="{{ about.name }}">
            </div>
        </div>
        <h2 class="profile__name">{{ about.name }}</h2>
        <h3 class="profile__profession">{{ about.job_title }}</h3>

        <ul class="profile__social">
            {% for social in about.socials.all %}
                <a href="{{ social.url }}" target="_blank" class="profile__social-link">
                    {{ social.icon|safe }}
                </a>
            {% endfor %}
        </ul>
    </div>
    <div class="profile__info grid">
        <div class="profile__info-group">
            <h3 class="profile__info-number">{{ about.years_of_work }}</h3>
            <p class="profile__info-description">
                Years of <br> work
            </p>
        </div>
        <div class="profile__info-group">
            <h3 class="profile__info-number">+{{ about.completed_projects }}</h3>
            <p class="profile__info-description">
                Completed <br> projects
            </p>
        </div>
    </div>
    <div class="profile__buttons">
        <a download="{{ about.resume_file }}" href="" class="button">
            Download Resume <i class="ri-download-line"></i>
        </a>
        <div class="profile__buttons-small">
            {% for contact in about.contacts.all %}
                <a href="{{ contact.url }}" target="_blank" class="button button__small button__gray">
                    {{ contact.icon|safe }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block projects %}
    {% for project in projects %}
        <article class="projects__card">
            <img src="{% thumbnail project.image 400x640 quality=100 %}" alt="{{ project.title }}" class="projects__img">

            <div class="projects__modal">
                <div>
                    <span class="projects__subtitle">{{ project.subtitle }}</span>
                    <h3 class="projects__title">{{ project.title }}</h3>
                    <a href="{{ project.link }}" class="projects__button button button__small">
                        <i class="ri-link"></i>
                    </a>
                </div>
            </div>
        </article>
    
    {% endfor %}
{% endblock %}

{% block skills %}
    <div class="skills__area">
        <div class="skills__box">
            <div class="skills__group">
                {% for skill in skills %}
                    {% cycle 'odd' 'even' as state silent %}
                    {% if state == 'odd' %}
                        <div class="skills__data">
                            <i class="ri-checkbox-circle-line"></i>
                            <div>
                                <h3 class="skills__name">{{ skill.title }}</h3>
                                <span class="skills__level">{{ skill.level }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="skills__box">
                <div class="skills__group">
                    {% for skill in skills %}
                        {% cycle 'odd' 'even' as state silent %}
                        {% if state == 'even' %}
                            <div class="skills__data">
                                <i class="ri-checkbox-circle-line"></i>
                                <div>
                                    <h3 class="skills__name">{{ skill.title }}</h3>
                                    <span class="skills__level">{{ skill.level }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}